.container {
        position: relative;
        height: 100%;
}

.background-video {
        position: fixed; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
}

.background-video video {
        object-fit: cover;
        width: 100%;
        height: 100%;
}